 {% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>

     <header>
        
        <img id='logo' src="{% static 'home/img/tc_logo.png' %}">

        <ul class="menu">

            <li><a href="{url 'inicio'}">Início</li></a>
            <li><a href="{url 'sobre'}">Sobre</li></a>
            <li><a href="{url 'espaco'}">Nosso espaço</li></a>
            <li><a href="{url 'profissionais'}">Profissionais</li></a>
            <li><a href="{url 'tratamentos'}">Tratamentos</li></a>
            <li><a href="{url 'contato'}">Contato</li></a>
            <li><a href="{url 'cadastro'}">Cadastre-se</li></a>

        </ul>
    </header>

    <div class="banner">

        <img id= 'fundo' src="{% static 'home/img/fundo.png' %}">

        <section id="banner_apresentacao">
            <p>Desde 2009</p>
            <br>
            <h1>Clínica especializada em<br>
                Ortodontia e Implantes
            </h1>
            <br>
            <p>A Overclin é uma clínica especializada em Implante e Ortodontia, que une <br>
               experiência, tecnologia e cuidado humanizado para transformar sorrisos e elevar<br>
               a autoestima dos nossos pacientes.
            </p>
            <br>
            <button id="btn_agende">
                Agendar Consulta
            </button>
        </section>
       
    </div>

    <div id="banner_espaco">

        <div id="apresentacao_espaco">

            <h1>Bem-vindo<br>
                   ao nosso espaço
            </h1>
            <p>Nosso consultório oferece uma experiência odontológica de<br> 
                 alta qualidade em um ambiente acolhedor e tecnológico, com<br>
                 uma recepção confortável e consultórios modernos. Estamos<br>
                 dedicados a cuidar da sua saúde bucal. Venha cuidar do seu<br>
                  sorriso conosco!
            </p>
            <button id="btn_saiba">
                Saiba Mais
            </button>
        </div>
        <img id="img_espaco" src="{% static 'home/img/espaco.png' %}">

    </div>
    <div id="banner_especialidades">
        <h1>Tenha um sorriso Bonito, Branco e Saudável</h1>
        <p>Somos especialistas em saúde bucal e estética dental volte a mastigar os alimentos sem medo e a sorrir com liberdade.</p>
        
        <div id="cards">

            <div class="card_especialidades">
                <img src="{% static 'home/img/card1.png' %}">
                <h2>Aparelho Ortodôntico</h2>
                <p>O aparelho ortodôntico ou aparelho dentário, muito conhecido por sua função estética, é um dispositivo que estimula as movimentações dos dentes. O objetivo principal do aparelho é proporcionar um melhor encaixe da mordida, a fim de prevenir problemas que afetam a qualidade de vida dos pacientes.</p>
                <button id="btn_agendar">Agendar</button>
            </div>

            <div class="card_especialidades">
                <img src="{% static 'home/img/card2.png' %}">
                <h2>Lente de Contato Dental</h2>
                <p>Trata-se de um tipo de faceta de porcelana ou resina composta ultrafina, aplicada sobre a superfície frontal dos dentes para melhorar sua aparência estética. As lentes de contato dentais são utilizadas para corrigir imperfeições como manchas, descolorações, irregularidades no formato ou espaçamento entre os dentes, proporcionando um sorriso mais harmonioso e atraente</p>
                <button id="btn_agendar">Agendar</button>
            </div>

            <div class="card_especialidades">
                <img src="{% static 'home/img/card3.png' %}">
                <h2>Clareamento Dental</h2>
                <p>O clareamento dental é um tratamento estético que remove manchas e deixa os dentes mais brancos, melhorando o sorriso. Pode ser feito em consultório, com o objetivo de melhorar a aparência dos dentes e a autoestima.</p>
                <button id="btn_agendar">Agendar</button>  
            </div>

        </div>
    </div>
    <div id="banner_contato">
        <img id="fundo_contato" src="{% static 'home/img/contato.png' %}">

        <h1>Entre em Contato</h1>

        <div id="informacoes_contato">

            <div class="container_contato">

                <div class="icon">
                    <img src="{% static 'home/img/icon_endereco.png' %}">
                    <p>Avenida Paulista, 999 Jardins,<br> São Paulo - SP,<br> 01411-000</p>
                </div>

                <div class="icon">
                    <img src="{% static 'home/img/icon_tel.png' %}">
                    <p>(11) 94002-8922</p>
                </div>

                <div class="icon">
                    <img src="{% static 'home/img/icon_what.png' %}">
                    <p>(11) 98878-4071</p>
                </div>

                <div class="icon">
                    <img src="{% static 'home/img/icon_relogio.png' %}">
                    <p>Seg a Sex <br>08:00 - 18:00</p>
                </div>



            </div>

        </div>

    </div>

    <div id="familia">
        <img id="img_familia" src="{% static 'home/img/familia.png' %}">

        <div id="slogan_agendar">
            <h1>Cuidando do seu sorriso, cuidando de você!</h1>
            <h2>Marque já sua Consulta</h2>
            <button id="btn_agendar_familia">Agendar</button>

        </div>
    </div>

    <div id="local_banner">
        <img id="paulista"  src="{% static 'home/img/paulista.png' %}" >

        <div class="cards_local">

            <div class="card_esquerda">
                <h2>Localizado na privilegiada avenida paulista</h2>
                <h3>Avenida Paulista, 999<br>Jardins, São Paulo - SP, 01411-000</h3>
            </div> 

            <div class="card_direita">
                <h2>Agendar sua consulta</h2>
                <h3>entre em contato no telefone abaixo para agendar a sua consulta</h3>

            </div>
        </div>

         
    </div>

    <div id="te"></div>
   

</body>
</html>